*.rbc
capybara-*.html
.rspec
/log
/tmp
/public/system
/coverage/
/spec/tmp
*.orig
config/initializers/secret_token.rb
config/master.key
/.bundle
/vendor/bundle
.rvmrc
node_modules/
/public/packs
/public/packs-test
/public/assets
/yarn-error.log
yarn-debug.log*
.yarn-integrity
/storage/*
!/storage/.keep
*.gem
/.config
/InstalledFiles
/pkg/
/spec/reports/
/spec/examples.txt
/test/tmp/
/test/version_tmp/
/tmp/
.dat*
.repl_history
*.bridgesupport
build-iPhoneOS/
build-iPhoneSimulator/
/.yardoc/
/_yardoc/
/doc/
/rdoc/
/.bundle/
/lib/bundler/man/
cmake-build-*/
/config/master.key
.idea/
/public/assets
/public/uploads
dump.rbd
/log
/coverage
Gemfile.lock/
/config/application.yml
