#comments-listhttp://rusrails.ru/caching-with-rails-an-overview#hranilischa-kesha
  #comment
    -if comment.user.avatar.present?
      =image_tag(comment.user.avatar.thumb.url, alt: 'avatar')
    -else
      =image_tag('profile_default_m.jpg', alt: 'avatar')
    #data
      #uname
        =comment.user.username
      #date
        =comment.created_at.strftime('%Y-%m-%d')
      %hr
    #body
      -#=simple_format(comment.body)
      =comment.body