#comment
  -if comment.user.avatar.present?
    =image_tag(comment.user.avatar.thumb_small.url, alt: 'avatar')
  -else
    =image_tag('profile_default_m.jpg', alt: 'avatar')
  #data
    #uname
      =comment.user.username
    #date
      =comment.created_at.strftime('%e/%m/%Y %k:%M')
    %hr
  #body
    -#=simple_format(comment.body)
    =comment.body