=form_with model: @image.comments.build, url: category_image_comments_path(category_id: @image.category_id, image_id: @image.id) do |form|
  =form.text_area :body, rows: '3', placeholder: 'Comment here...'
  .text-right.col-9
    =form.submit t('comments._form.create_comment'), class: 'btn btn-sm btn-warning'