=semantic_form_for :nokogiri, builder: ActiveAdmin::FormBuilder, url: { action: :import } do |f|
  =f.inputs do
    =f.input :url, label: false, placeholder: 'URL', input_html: { style: 'width: 30%;' }
    =f.action :submit, label: 'Parse'
