#slider.carousel.slide.carousel-fade{ 'data-ride' => 'carousel',
                                      'data-interval' => '9000',
                                      'data-keyboard' => 'false',
                                      'data-pause' => 'false',
                                      'data-touch' => 'false' }
  .carousel-inner
    -get_slider_img.each_with_index do |img, index|
      -if index.eql?(0)
        .carousel-item.scale.active{ style: "background-image: url('/assets/slider/#{img}')" }
      -else
        .carousel-item.scale{ style: "background-image: url('/assets/slider/#{img}')" }
