#slider.carousel.slide.carousel-fade{ 'data-ride' => 'carousel',
                                      'data-interval' => '9000',
                                      'data-keyboard' => 'false',
                                      'data-pause' => 'false',
                                      'data-touch' => 'false' }
  .carousel-inner
    -get_slider_img.each_with_index do |img, index|
      -if index.eql?(0)
        .carousel-item.scale.active#s1
          =image_tag('slider/' + img, alt: 'slide')
      -else
        .carousel-item.scale#s2
          =image_tag('slider/' + img, alt: 'slide')
