=bootstrap_devise_error_messages!
#devise-bg
  #forms
    .container
      .row
        .col-10.offset-1.col-md-6.offset-md-6
          =form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            .form-group.mt-5
              =f.email_field :email, required: true ,placeholder: t('devise.forms.fields.email'), class: 'form-control form-style'
            .form-group
              =f.password_field :password, required: true, placeholder: t('devise.forms.fields.password'), class: 'form-control form-style'
            -if devise_mapping.rememberable?
              .form-group.form-check
                =f.check_box :remember_me, class: 'form-check-input'
                =f.label :remember_me, class: 'form-check-label text-white' do
                  =resource.class.human_attribute_name(t('devise.forms.check_box.remember_me'))
            =show_recaptcha
            .form-group
              =f.submit  t('.sign_in'), class: 'btn btn-primary'
          =render 'devise/shared/links'