.category-preview {
  background: no-repeat center center / cover;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

.category-title {
  position: absolute;
  bottom: 10%;
  width: 100%;
  color: white;
  text-transform: uppercase;
  text-align: left;
  padding-left: 10vw;
}

.category-title a {
  color: white;
  text-transform: lowercase;
  text-decoration: underline;
}

#move-down {
  position: absolute;
  bottom: 3%;
  left: 50%;
}

#move-down a {
  color: white;
  position: relative;
  left: -50%;
}

#move-down:hover {
  animation: down 1s infinite;
}

@keyframes down {
  50% {
    bottom: 2%;
  }
}

#category-bg {
  background: url('app_images/bg-categories_show.jpg') no-repeat center / cover;
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding-bottom: 31px;
  overflow: hidden;
}

#new-image-block {
  position: relative;
  top: 250px;
  width: 100%;
  text-align: center;
}

.upload-button {
  background: white;
  color: black;
  opacity: 0.7;
}

#images-list {
  margin-top: 300px;
}

@media (max-width: 767px) {
  #new-image-block {
    top: 100px;
  }

  #images-list {
    margin-top: 150px;
  }
}

.image {
  position: relative;
  padding: 10px;
  overflow: hidden;
}

.image a {
  display: block;
  position: relative;
}

.image a:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: black;
  opacity: 0;
}

.image a:hover:after {
  animation: opacity-black 0.5s forwards;
}

@keyframes opacity-black {
  100% {
    opacity: 0.4;
  }
}
