hr{
  margin-top: 30px;
}

.categories{
  text-align: center;
}

.card{
  display: inline-block;
  margin: 10px;
  width: auto;
  height: auto;
}

.card-text{
  align-items: center;
  margin: auto;
  color: white;
  background: #343a40;
}

.category-nav{
  color: #5bc0de;
}

#errorsCategory {
  display: none;
}