.categories{
  padding: 30px;
  text-align: left;
}

.card{
  width: 202px;
  display: inline-block;
  margin: 0 10px 10px 0;
}

div.new-cat{
  float: left;
  display: none;
  width: 100%;
  margin: 15px auto;
}

div.box{
  display: inline-block;
  margin: 10px;
}