#comments {
  margin-top: 250px;
}


.comment {
  min-height: 100px;
  padding: 0;
  margin-bottom: 30px;
}

.circle {
  border-radius: 50%;
  margin: 5px;
}

.uname {
  display: inline-block;
}

.comment-body {
  margin-left: 80px;
  margin-top: -30px;
  padding-right: 5px;
  word-wrap: break-word;
  white-space: pre-line;
}
