#comments {
  margin-top: 250px;
}

@media (max-width: 767px) {
  #comments {
    margin-top: 100px;
  }
}

.comment {
  min-height: 100px;
  padding: 0;
  margin-bottom: 30px;
}

.avatar {
  margin: 5px;
  width: 50px;
  overflow: hidden;
}

.uname {
  display: inline-block;
}

.comment-body {
  margin-left: 80px;
  margin-top: -30px;
  padding-right: 5px;
  word-wrap: break-word;
  white-space: pre-wrap;
}
