#edit-user {
  text-align: center;
  padding: 5px;
}

#edit-user img {
  padding: 5px;
  border: solid 1px;
}

#before-login {
  text-align: center;
  width: 340px;
  margin: 0 auto;
}

.g-recaptcha {
  display: inline-block;
}