.form-style {
  background-color: transparent;
  border: solid 1px black;
  outline: none;
  color:black;
}

.form-style::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

#edit-user {
  text-align: center;
  padding: 5px;
}

#edit-user img {
  padding: 5px;
  border: solid 1px;
}

#devise-forms {
  text-align: center;
  width: 340px;
  margin: 0 auto;
}

.g-recaptcha {
  display: inline-block;
}
