#slider {
  background-color: black;
}

.carousel-item {
  height: 100vh;
  background: no-repeat center center / cover;
}

.scale {
  animation: scale 10s linear infinite;
}

@keyframes scale {
  0% {
    transform: scale(1)
  }

  100% {
    transform: scale(1.1)
  }
}