// Place all the styles related to the Images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#image-bg {
  background: black;
  min-height: 100vh;
  overflow: hidden;
}

#image {
  position: relative;
  width: 100%;
  margin-top: 15px;
}

.image-container {
  width:100%;
  margin-right:auto;
  margin-left: auto;
}

@media (min-width: 576px){
  .image-container{
    max-width: 540px
  }
}

@media (min-width: 768px) {
  .image-container{
    max-width: 720px
  }
}

@media (min-width: 992px){
  .image-container{
    max-width: 960px
  }
}

@media (min-width: 12px){
  .image-container{
    max-width: 1280px;
  }
}

#show-image {
  position: absolute;
  top: 5%;
  left: 15%;
  right: 15%;
}

#previous {
  position: absolute;
  z-index: 1;
  left: 2%;
  bottom: 50%;
}

#next {
  position: absolute;
  z-index: 1;
  right: 2%;
  bottom: 50%;
}

#back {
  position: absolute;
  top:0;
  right: 0;
}

.icons {
  width: 28px;
}