// Place all the styles related to the Images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#index-images-bg {
  background: url("app_images/bg-images_index.jpg") repeat center;
  overflow: hidden;
}

#image {
  position: relative;
  width: 100%;
  margin-top: 15px;
}

#previous {
  position: absolute;
  z-index: 1;
  left: 2%;
  bottom: 50%;
}

#next {
  position: absolute;
  z-index: 1;
  right: 2%;
  bottom: 50%;
}

#back {
  position: absolute;
  top:0;
  right: 0;
}

.icons {
  width: 28px;
}

.pseudo-after {
  display: block;
  position: relative;
}

.pseudo-after img {
  margin-top: auto;
  margin-bottom: auto;
}

.pseudo-after:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: black;
  opacity: 0;
}

.pseudo-after:hover:after {
  animation: lack 0.5s forwards;
}

@keyframes lack {
  100% {
    opacity: 0.4;
  }
}

#index-slider {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
}

#slider-content {
  display: flex;
  position: relative;
  z-index: 1001;
  height: 100vh;
  text-align: center;
}

#slider-content img {
  max-height: 100vh;
  max-width: 100%;
  margin: auto;
}

.close i {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white !important;
}

.next, .prev {
  position: absolute;
  top: 50%;
  cursor: pointer;
  background-color: black;
}

.next {
  right: 10px;
  z-index: 1002;
}

.prev {
  left: 10px;
  z-index: 1002;
}

.slider-image {
  display: none;
}

.show-image {
  display: block;
}
