#paginate {
  background: black;
}

#paginate ul {
  margin: 0;
}

.page-link {
  color: white;
  background-color: black;
  border: 1px solid black;
}

.page-item.active .page-link {
  z-index: auto;
  color: #000000;
  background-color: white;
  border-color: black;
}

.page-link:focus, .page-link:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: black;
  border-color: black;
}