.icons {
  width: 30px;
}

#comment {
  position: relative;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  border: solid 1px;
  margin-bottom: 3px;
}

#comment img {
  position: absolute;
  left: 5px;
  width: auto;
  height: auto;
}

#data {
  margin-left: 60px;
}

#data hr {
  margin: 5px 5px 5px 10px;
}

#body {
  white-space: pre-wrap;
  margin-left: 60px;
  word-wrap: break-word;
}