=form_for @category, remote: true do |form|
  =form.text_field :name, placeholder: t('activerecord.attributes.category.name'), style: 'display: block-inline;'
  -unless @category.new_record?
    =form.collection_select :image_id, @category.images, :id, :image_name, include_blank: true
  =form.submit @category.new_record? ? t('catetegories._modal.add_category') : t('catetegories._modal.edit_category')
%small
  =t('catetegories._form.small')
%br