-if @category.errors.any?
  .alert.alert-danger
    %h5
      =t('common.errors')
    %p
      -@category.errors.full_messages.each do |msg|
        = msg

=form_with model: @category, remote: true do |form|
  =form.text_field :name, placeholder: t('activerecord.attributes.category.name'), style: 'display: block-inline;'
  -unless @category.new_record?
    =form.collection_select :image_id, @category.images, :id, :image_name, include_blank: true
  =form.submit @category.new_record? ? t('categories.form.submit.create') : t('categories.form.submit.update')
