%div.new-cat
  = form_with model: @category, local: true do |form|
    = form.text_field :name, style: 'float: left; display: block-inline;'
    = form.hidden_field :user_id, value: current_user.id
    = form.submit