#modalCategory.modal.fade{ tabindex: '-1', role: 'dialog' }
  .modal-dialog.modal-dialog-centered
    .modal-content.text-black-50
      .modal-header
        %strong.text-black-50
          -if @category.new_record?
            =t('categories._modal.add_category')
          -else
            =t('categories._modal.edit_category')
        %button.close{type: 'button', 'data-dismiss' => 'modal'}
          x
      .modal-body
        -if @category.new_record? || @category.user.eql?(current_user)
          =render 'categories/form'
        -else
          .text-center
            Only the owner can change the preview and title.
      .modal-footer
