#modalCategory.modal.fade{ tabindex: '-1', role: 'dialog' }
  .modal-dialog.modal-dialog-center
    .modal-content
      .modal-header
        %strong
          -if action_name == 'show'
            =t('catetegories._modal.edit_category')
          -else
            =t('catetegories._modal.add_category')
        %button.close{type: 'button', 'data-dismiss' => 'modal'}
          x
      .modal-body
        =render 'categories/form'
        -if @category.user.eql?(current_user)
          =link_to(t('catetegories._form.delete_category.label'), category_path(@category),
           class: 'btn btn-link', local: true, method: :delete, data: { confirm: t('catetegories._form.delete_category.confirm') })
      .modal-footer
        %button.btn.btn-sm.btn-dark{ type: 'button', 'data-dismiss' => 'modal' }
          =t('catetegories._modal.close')