#modalCategory.modal.fade{ tabindex: '-1', role: 'dialog' }
  .modal-dialog.modal-dialog-centered
    .modal-content
      .modal-header
        %strong
          -if @category.new_record?
            =t('categories._modal.add_category')
          -else
            =t('categories._modal.edit_category')
        %button.close{type: 'button', 'data-dismiss' => 'modal'}
          x
      .modal-body
        =render 'categories/form'
      .modal-footer
