#modalCategory.modal.fade{ tabindex: '-1', role: 'dialog' }
  .modal-dialog.modal-dialog-center
    .modal-content
      .modal-header
        %strong
          -if @category.new_record?
            =t('catetegories._modal.add_category')
          -else
            =t('catetegories._modal.edit_category')
        %button.close{type: 'button', 'data-dismiss' => 'modal'}
          x
      .modal-body
        =render 'categories/form'
      .modal-footer
        %button.btn.btn-primary{type: 'button', 'data-dismiss' => 'modal'}
          =t('catetegories._modal.close')