= render 'home/header'

%p
  = current_user.id

.categories
  - @categories.each do |category|
    .card
      .card-img-top
        = link_to(image_tag('category.png'), show_category_image_path(category.id))

  .card
    .card-img-top
      = link_to(image_tag('category.png'), new_category_path)