%hr

.categories
  -@categories.each do |category|
    .card
      .card-img-top
        -unless category.image
          =link_to(image_tag('categoryNew.png', alt: 'new category'), category_path(category))
        -else
          =link_to(image_tag(category.image.picture.thumb_medium.url, alt: 'picture'), category_path(category))
      .card-text.d-flex.justify-content-between
        =truncate(category.name, length: 10)
        &nbsp|&nbsp
        =category.count
        &nbsp|&nbsp
        =t('categories.card_buttons.created')
        =category.user.username
        %div
          =link_to(t('categories.card_buttons.show'), category_path(category), class: 'category-nav')
          -if current_user.following?(category)
            =link_to(t('categories.card_buttons.unfollow'), unfollow_category_path(category), class: 'category-nav', remote: true, method: :put)
          -else
            =link_to(t('categories.card_buttons.follow'), follow_category_path(category), class: 'category-nav', remote: true, method: :put)
          -if current_user == category.user
            =link_to(t('categories.card_buttons.delete'), category_path(category), class: 'category-nav', remote: true,
                     method: :delete, data: { confirm: t('categories.card_buttons.delete') + '?' })

=render 'categories/modal' # <= Modal window here(link in layout)