= render 'startup/header'

-if user_signed_in?
  .categories
    - @categories.each do |category|
      .card
        .card-img-top
          = image_tag('download.png')
            .card-text
              = category.name
-else
