#categories
  -if @categories.count.eql?(0)
    .category-preview{ style: "background-image: url('/assets/app_images/bg-empty_gallery.jpg');" }
      .category-title.text-lowercase.text-dark
        %h3.col-6.p-0
          =t('categories.index.empty')
        =link_to(t('categories._modal.add_category'),
                 '#modalCategory',
                 'data-toggle' => 'modal', class: 'h3 text-dark', id: 'empty')
  -@categories.each_with_index do |category, block_id|
    -css_bg = if category.preview.present?
      -"background-image: url(#{category.preview.url});"
    -else
      -"background-image: url('/assets/app_images/cat_prev.png');"
    .category-preview{ style: css_bg }
      .category-title
        %h1
          =category.name
        =link_to(t('categories.index.show_album'), category_path(category))
        .d-block{id: "category_#{block_id}"}
          -if current_user.following?(category)
            =link_to(t('categories.index.unfollow'),
                     unfollow_category_path(id: category.slug, block_id: block_id),
                     class: 'follow',
                     remote: true,
                     method: :put,
                     'data-toggle' => 'tooltip',
                     title: t('categories.index.unfollow'))
          -else
            =link_to(t('categories.index.follow'),
                     follow_category_path(id: category.slug, block_id: block_id),
                     class: 'follow',
                     remote: true,
                     method: :put,
                     'data-toggle' => 'tooltip',
                     title: t('categories.index.follow'))
      #move-down
        =link_to("#link_#{block_id}", class: 'anchor') do
          %i.fas.fa-chevron-down
    %div.w-100{id: "link_#{block_id}"}

#paginate-categories
  =paginate @categories
=render 'categories/modal' # <= Modal window here(link in layout)
