#new-image-block
  .row
    =link_to(t('categories.show.upload_image'), new_category_image_path(@category),
             remote: true,
             class: 'btn btn-warning col-8 offset-2 col-md-4 offset-md-4')

%hr

.row
  =render @images
=paginate @images

=render 'categories/modal' # <= Modal window here(link in layout)