#new-image-block
  #new-image
    =link_to(t('catetegories.show.upload_image'), new_category_image_path(@category), remote: true, class: 'btn btn-sm btn-light')
%hr

#images
  =render @images
=paginate @images

=render 'categories/modal' # <= Modal window here(link in layout)