=link_to(image_tag(image.picture.thumb_list.url, alt: 'picture', style: 'width: 100%'),
         category_image_path(id: image.slug, category_id: image.category.slug),
         class: 'col-10 offset-1 col-md-8 offset-md-2 mt-3')

.col-10.offset-1.col-md-8.offset-md-2
  .text-right
    %small
      #{image.image_name}
