=render 'home/header'

.upload
  - @category = Category.find(params[:category_id]).id
  = link_to('upload', new_image_path(category_id = @category))

.images
  - @images.each do |image|
    .card
      .card-img-top
        = link_to('some_image', image_path(image))