.row
  =previous_image(@image) # helper return link to previous image
  =image_tag(@image.picture.thumb_list.url, class: 'col-10 col-md-8', style: 'width: 100%; height: 100%;', alt: 'some_image')
  =next_image(@image) # helper return link to next image

.row.mt-3.justify-content-center
  =link_to(image_tag('app_images/dwnld.png', alt: 'download', id: 'icons'),
           download_category_image_path(id: @image.id),
           target: '_blank',
           class: 'm-1')
  =link_to(image_tag('app_images/friend_mail.png', alt: 'share', id: 'icons'),
           '#modalCategory',
           'data-toggle' => 'modal',
           class: 'm-1')

%hr

.row.justify-content-center
  =link_to(image_tag('app_images/like.resized.png', alt: 'like', id: 'icons'),
           like_category_image_path(category_id: @image.category.slug, id: @image.slug),
           remote: true, method: :put)

  #likes-count.mt-1
    =@image.likes.count
  &nbsp
  #dislikes-count.mt-1
    =@image.dislikes.count

  =link_to(image_tag('app_images/dislike.resized.png', alt: 'dislike', id: 'icons'),
           dislike_category_image_path(category_id: @image.category.slug, id: @image.slug),
           remote: true, method: :put)

%hr

#comments-form
  =render 'comments/form'
%hr

#comments
  -if !@comments.count.zero?
    =render @comments
  -else
    %small.d-block.text-center
      =t('comments._form.your_comment_must_be_here')

=paginate @comments

=render 'images/modal'