#show-image
  =image_tag(@image.picture.thumb_list.url, alt: 'some_image')

%hr
#likes
  =link_to(image_tag('like.resized.png', alt: 'like'), up_vote_category_image_path(category_id: @image.category.slug, id: @image.slug), remote: true, method: :put)
  =@image.likes.count
  =@image.dislikes.count
  =link_to(image_tag('dislike.resized.png', alt: 'dislike'), down_vote_category_image_path(category_id: @image.category.slug, id: @image.slug), remote: true, method: :put)
%hr

#comments-form
  =render 'comments/form'
%hr
#comments-list
  =render @comments
=paginate @comments
