=image_tag(@image.picture.thumb_list.url, alt: 'some_image')
%br
%span.glyphicon.glyphicon-plus-sign
=link_to('like', up_vote_category_image_path(category_id: @image.category.slug, id: @image.slug), remote: true, method: :put)
=@image.likes.count
=@image.dislikes.count
=link_to('dislike', down_vote_category_image_path(category_id: @image.category.slug, id: @image.slug), remote: true, method: :put)

=render 'comments/form'
=render @image.comments