.row
  =previous_image(@image) # helper return link to previous image
  =image_tag(@image.picture.thumb_list.url, class: 'col-10', style: 'width: 100%; height: 100%;', alt: 'some_image')
  =next_image(@image) # helper return link to next image

.row.mt-3
  .col-2.offset-9
    =link_to(image_tag('app_images/dwnld.png'), download_category_image_path(id: @image.id), target: '_blank')
    =link_to(image_tag('app_images/friend_mail.png'), '#modalCategory', 'data-toggle' => 'modal')
%hr
#likes
  =link_to(image_tag('app_images/like.resized.png', alt: 'like'),
                     like_category_image_path(category_id: @image.category.slug, id: @image.slug),
                                                 remote: true, method: :put)
  #like-counter.d-inline
    =@image.likes.count
  #dislike-counter.d-inline
    =@image.dislikes.count
  =link_to(image_tag('app_images/dislike.resized.png', alt: 'dislike'),
                     dislike_category_image_path(category_id: @image.category.slug, id: @image.slug),
                                                   remote: true, method: :put)

%hr

#comments-form
  =render 'comments/form'
%hr
#comments
  =render @comments
=paginate @comments

=render 'images/modal'