!!!
%html
  %head
    %meta{ charset: 'UTF-8', 'http-equiv' => 'Content-Type' }
    %meta{ name: :viewport, :content => 'text/html, width=device-width, initial-scale=0.8, shrink-to-fit=no' }

    %title
      Gallery
    =csrf_meta_tags
    =csp_meta_tag
    =stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    =javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container
      =render 'layouts/navbar'
      .mt-5
      =yield
      %footer.page-footer.font-small.blue
        .footer-copyright.text-center.text-white.py-3
          © 2018