!!!
%html
  %head
    %meta{charset: 'UTF-8', 'http-equiv' => 'Content-Type'}/
    %meta{:content => 'text/html, width=device-width, initial-scale=1, shrink-to-fit=no', :name => 'viewport'}/
    %title
      Gallery
    =csrf_meta_tags
    =csp_meta_tag
    =stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    =javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container
      =render 'layouts/navbar'
      .content
      =yield
      %footer.page-footer.font-small.blue
        .footer-copyright.text-center.text-white.py-3
          © 2018